<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | Meme Factory</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>About Us</h1>
    <p>Crafting memes since the dawn of the internet.</p>
    <p>Nothing to say about myself.i am in hurry to submit!</p>
    <img src="/images/image2.jpg" alt="Meme 2" class="meme-image">
    <p><a href="/">Back to Home</a></p>
  </div>
</body>
</html>
